.about-img {
  max-width: 100%;
}

.about-header-container {
  position: relative;
  text-align: center;
}

.about-header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  font-weight: bolder;
  color: white;
  text-shadow: 2px 2px var(--blue);
}

.about-text-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.about-box {
  max-width: 400px;
}

h2 {
  text-align: center;
  color: var(--brown);
  padding: 10px;
  font-size: 26px;
  font-weight: bold;
}

p {
  text-align: center;
  padding: 10px;
  margin-bottom: 30px;
}

@media only screen and (min-width: 768px) {
  .about-header {
    font-size: 72px;
  }

  .about-box {
    max-width: 500px;
  }
}
