.contact-img {
  max-width: 100%;
}

.contact-header-container {
  position: relative;
  text-align: center;
}

.contact-header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  font-weight: bolder;
  color: white;
  text-shadow: 2px 2px var(--brown);
}

h2 {
  color: var(--blue);
  font-size: 26px;
  font-weight: bold;
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
}

form {
  width: 100%;
  margin: 30px;
  padding: 40px;
  background: var(--white);
  display: block;
  border: 2px solid var(--brown);
}

input {
  width: 100%;
  margin-top: 2px;
  padding: 10px;
  font-size: 20px;
  border: none;
  border-bottom: 1px solid var(--blue);
}

.input-name,
.input-message,
.input-email {
  display: block;
  margin-bottom: 16px;
  margin-top: 32px;
  color: var(--blue);
}

.form-error {
  display: none;
  color: red;
  font-size: 12px;
  margin-top: 2px;
}

button {
  border: none;
  background-color: var(--brown);
  color: white;
  padding: 10px;
  margin: 15px 0 15px 0;
  cursor: pointer;
  width: 150px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: lighter;
}

.submit-success {
  display: none;
  color: var(--blue);
}

@media only screen and (min-width: 768px) {
  .contact-header {
    font-size: 72px;
  }

  .contact-container {
    justify-content: center;
  }

  form {
    max-width: 600px;
  }
}
