.product-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 40px;
  justify-content: center;
}

.product-card {
  max-width: 300px;
  margin: 30px;
  background-color: var(--white);
  text-align: center;
}

.product-img {
  max-width: 100%;
  max-height: auto;
  width: auto;
  display: block;
  margin: 0 auto;
}

h4 {
  font-weight: normal;
  font-size: 20px;
  margin-top: 10px;
  text-decoration: none;
  color: var(--blue);
}

.product-button {
  border: none;
  background-color: var(--brown);
  color: white;
  padding: 10px;
  margin: 15px 0 15px 0;
  cursor: pointer;
  width: 150px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: lighter;
}

/* Load More */

.product-card {
  display: none;
}

.product-card:nth-child(1),
.product-card:nth-child(2),
.product-card:nth-child(3),
.product-card:nth-child(4),
.product-card:nth-child(5),
.product-card:nth-child(6) {
  display: block;
}

.load-btn {
  border: none;
  background-color: var(--brown);
  color: white;
  padding: 10px;
  margin: 15px 0 15px 0;
  cursor: pointer;
  width: 150px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: lighter;
}

@media only screen and (min-width: 768px) {
  .load-btn {
    margin-right: 15px;
  }
}
