.check-icon {
  font-size: 150px;
  color: #7b4026;
  text-align: center;
  margin-top: 30px;
}

h2 {
  text-align: center;
  color: #0b3a40;
  font-size: 36px;
  padding: 20px;
}

p {
  text-align: center;
  font-size: 18px;
}

.home-btn {
  text-align: center;
  margin-top: 50px;
}

.home-button {
  border: none;
  background-color: #7b4026;
  color: white;
  padding: 10px;
  margin: 15px 0 30px 0;
  cursor: pointer;
  width: 30%;
  border-radius: 10px;
  font-size: 18px;
  font-weight: lighter;
}
